
.popup-container {
  color: #fff;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #000 -10%, lightgray 160%);
  height: 95vh;
  min-width: 15vw;
  z-index: 99;
  transition: opacity 0.5s;
  opacity: 0;
}

.popup-container.active {
  opacity: 1;
  transition: opacity 0.5s;
}

.button-container-popup {
  margin: 1rem;
  display: flex;
  width: 100%;
  justify-content: center;
}

.button-popup {
  margin-bottom: 3rem;
  margin-top: 3rem;
  min-width: 6vw;
  min-height: 3vh;
  opacity: 0;
  cursor: pointer;
}

.button-popup.active {
  transition: opacity 0.5s;
  opacity: 1;
}

.blocker {
  display: none;
  position: fixed;
  top: 0;
  left: 15vw;
  bottom: 5vh;
  right: 0;
  background: rgba(0,0,0,.3);
}

.blocker.active {
  display: flex;
}

.icon-menu {
  z-index: 1001;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  margin: 1rem 0 0 1rem;
  width: 5vw;
  height: 8vh;
}

.menu-icon {
  color: #fff;
}