
# Docker environment files
# *.env
# .env

# Node Modules
node_modules
dist
build

# Log files
*.log

#WebStorm Inspect File
.idea

#VScode settings
.vscode

#ChatGPT
generate.sh

# Prisma Migrations
app/backend/prisma/migrations/