.message-window {
  background-color: darkslategrey;
}

.own-message {
  text-align: right;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 2rem;
  border-radius: 4px;
  z-index: 1001;
  width: 80%;
  max-width: 400px;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.modal-content input,
.modal-content select {
  width: 100%;
  height: 2.5rem;
}

.modal-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
}

.chat-page {
  display: flex;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
}

.room-list {
  border-right: 1px solid #ccc;
  padding: 1rem;
  overflow-y: scroll;
  width: 20vw;
}

.room-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.5rem;
  transition: background-color 0.2s;
}

.room:hover {
  background-color: #f0f0f0;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  aspect-ratio: 1;
  margin-right: 1rem;
}

.room-info {
  flex: 1;
}

.room-name {
  font-weight: bold;
  margin-bottom: 2px;
}

.last-message {
  font-size: 0.9rem;
  margin-top: 0.25rem;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3em;
  white-space: pre-wrap;
}

.last-message::before {
  content: "• ";
  color: red;
  font-size: 0.9rem;
}

.room-area {
  flex: 1;
}

.input-container-modal {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.context-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 1000;
  padding: 5px;
}

.context-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.context-menu li {
  padding: 5px 10px;
  cursor: pointer;
}

.context-menu li:hover {
  background-color: #f5f5f5;
}
