.login-container {
  padding-top: 40px;
}
.login-info-container {
  font-size: 22px;
}

.login-field {
  width: 200px;
  margin: 20px auto 0;
  font-size: 19px;
}

.form {
  border: 2px solid navy;
  background-color: lightgray;
  height: 300px;
  margin: 0 auto;
  max-width: 550px;
}


