.body-page {
  text-align: center;
}

.wrapper {
  width: 500px;
  margin: 0 auto;
}

.bouton {
  width: 250px;
  font-size: 20px;
  margin: 30px auto;
}

label {
  display: inline-block;
  font-size: 15px;
  padding: 10px;
}
