@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background-size: cover;
  display: grid;
  justify-content: left;
  align-items: left;
  height: 100vh;
  width: 100vw;
}

.Welcome {
  background-image: url('../shared/assets/bng_welcome.png');
}

.Login {
  background-image: url('../shared/assets/bng_login.png');
}
