.button-funky {
/********Variables********/
  --border: rgb(3, 169, 244);
  --g1: rgb(98, 0, 234);
  --g2: rgb(236, 64, 122);
  --g3: rgb(253, 216, 53);
/*************************/
  border-radius: 2rem;
  cursor: pointer;
  color: white;
  position: relative;
  display: flex;
  padding: 0.5rem 1rem;
  margin: 0.75rem 0;
  justify-content: center;
  align-items: center;
  translate: 5% 0%;
}

.button-funky:before {
  background: linear-gradient(
          130deg,
          transparent 0% 33%,
          var(--g1) 66%,
          var(--g2) 83.5%,
          var(--g3) 100%
  ) 60% 60%;
  background-size: 300% 300%;
  border-radius: 2rem;
  content: "";
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: background-position 350ms ease, transform 350ms ease;
  width: 90%;
  z-index: 1;
}

.button-funky:active {
  transform: scale(0.95);
}

.button-funky:hover:before {
  background-position: 100% 100%;
  transform: scale(1.07);
}

.button-funky:hover .button-funky-bg {
  background-position: -10% 0;
}

.button-funky:hover .button-funky-content {
  opacity: 1;
  transform: translateX(-2%);
}

.button-funky-bg {

    background-image: radial-gradient(
    rgba(255, 255, 255, 0.2) 8%,
    transparent 8%
  );

  background-position: 0;
  background-size: 2vmin 2vmin;
  border-radius: 2rem;
  position: absolute;
  transition: background-position 350ms ease;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 90%;
}

.button-funky-content {
  position: relative;
  font-size: 18px;
  color: white;
  font-weight: 400;
  margin: 0;
  transition: 350ms ease;
  text-align: center;
  z-index: 3;
  padding: 8px 20px;
  width: 100%;
  height: 100%;
  translate: -5%;
}
