.icon-button {
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dynamic-icon-button {
    --g1: rgb(34, 170, 186);
    --g2: rgb(206, 106, 12);
    --g3: rgb(242, 68, 4);
    border-radius: 1rem;
    cursor: pointer;
    color: white;
    position: relative;
    display: flex;
    padding: 0rem 0.5rem;
    margin: 1rem 0;
    justify-content: center;
    align-items: center;
    align-self: center;
    translate: 5% 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dynamic-icon-button:before {
    background: linear-gradient(150deg,
            transparent 0% 33%,
            var(--g1) 66%,
            var(--g2) 83.5%,
            var(--g3) 100%) 30% 30%;
    background-size: 300% 300%;
    border-radius: 2rem;
    content: "";
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: background-position 600ms ease, transform 600ms ease;
    width: 90%;
    z-index: 1;
}

.dynamic-icon-button:active {
    transform: scale(0.95);
}

.dynamic-icon-button:hover:before {
    background-position: 100% 100%;
    transform: scale(1.07);
}

.dynamic-icon-button:hover .dynamic-icon-button-bg {
    background-position: -10% 0;
}

.dynamic-icon-button-bg {
    background-image: radial-gradient(rgba(255, 255, 255, 0.2) 8%,
            transparent 8%);
    background-position: 0;
    background-size: 2vmin 2vmin;
    border-radius: 2rem;
    position: absolute;
    transition: background-position 600ms ease;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 90%;
}

.dynamic-icon-button-content {
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: 400;
    margin: 0;
    transition: 600ms ease;
    align-content: center;
    align-items: center;
    align-self: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    text-align: center;
    z-index: 3;
    padding: 8px 20px;
    width: 100%;
    height: 100%;
    translate: -5%;
}