.game-side-bar {
    position: relative;
    top: 0;
    right: 0;
    background-color: yellow;
    height: 100%;
    width: 15vw;
    max-width: 50vw;
    transition: all 0.2s;
}

.game-side-bar-overlay {
	position: fixed;
	top: 0;
	left: 80px;
	opacity: 0;
	background-color: #000;
	transition: all 1s;
	width: 100%;
	height: 100%;
	display: none;
}

.game-side-bar-overlay.active {
	opacity: 0.3;
	display: flex;
}

.game-side-bar.active {
	width: 50vw;
	background-color: lawngreen;
}

.test {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	cursor: pointer;
}
.test.active {
	display: none;
}

.test2 {
	display: none;
}

.test2.active {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20vh;
}