.img-upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.custom-file-input::-webkit-file-upload-button {
  display: none;
}

.custom-file-input {
  height: 3vh;
  width: 15vw;
  color: #fa7f08;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.3rem;
}

.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
