.img-upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon-plus-input {
  flex-direction: row;
  border: 1px solid #999;
  width: 75%;
  margin-left: 2rem;
  align-self: center;
}

.input-icon-upload {
  display: flex;
  width: 100%;
}

.custom-file-input {
  color: #F24404;
  border-radius: 3px;
  padding: 5px 8px;
  white-space: nowrap;
  -webkit-user-select: none;
  font-size: 0.9rem;
  width: 80%;

}

.custom-file-input::-webkit-file-upload-button {
  color: #22babb;
  background-color: #333333;
}

.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
