.chat-page {
  color: #fff;
  width: 100vw;
  height: 100vh;
}

.message-window {
  background-color: darkslategrey;
  display: flex;
  height: 100vh;
  margin: 0 auto;
  justify-content: center;
}

.own-message {
  text-align: right;
}