.chat-page {
  color: #6f3434;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 80px;
}

.message-window {
  background-color: darkslategrey;
}

.own-message {
  text-align: right;
}
