@media only screen and (max-width:320px) {
  div.main-container{
  width: 80vw;
  height: 90vh;
  }
 p {
    font-size: small;
  }
  form.styled-form {
    width: 80vw;
    height: 30vh;
  }
}

@media only screen and (min-width:360px) {
  div.main-container {
    width: 80vw;
    height: 80vh;
  }
  form.styled-form {
    width: 80vw;
    height: 30vh;
  }
}

@media only screen and (min-width:411px) {
   div.main-container{
    width: 80vw;
    height: 80vh;
  }
  form.styled-form {
    width: 80vw;
    height: 30vh;
  }
}

@media only screen and (min-width:768px) {
  div.main-container {
    width: 80vw;
    height: 80vh;
  }
  form.styled-form {
    width: 80vw;
    height: 30vh;
  }
}

@media only screen and (min-width:1024px) {
  div.main-container {
    width: 70vw;
    height: 90vh;
  }
  form.styled-form {
    width: 70vw;
    height: 30vh;
  }
}

@media only screen and (min-width:1270px){
  div.main-container {
    width: 50vw;
    height: 90vh;
  }
    form.styled-form {
    width: 30vw;
    height: 30vh;
  }
}

@media only screen and (min-width:1920px){
  div.main-container {
    width: 30vw;
    height: 90vh;
  }
    form.styled-form {
    width: 30vw;
    height: 30vh;
  }
}

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  width: 30vw;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
  backdrop-filter: blur(9px);
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  user-select: none;
}

.styled-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 30vh;
  margin: 0;
  width: 30vw;
  border-radius: 10px;
  letter-spacing: 0.4rem;
}

.input-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 60%;
  width: 100%;
}

.button-container{
  margin: 1rem 0 2rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.horizontal-rule{
  width: 90%;
  height: 0.3rem;
  border-radius: 0.8rem;
  border: none;
  margin: 1.5em 0 1.5rem 0;
  background: linear-gradient(to right, #14163c 0%, #03217b 79%);
  backdrop-filter: blur(25px);
}

.icon-container{
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0 3rem 0;
  width: 80%;
}

h4 {
  cursor: pointer;
}

p {
  margin: 3rem auto 2rem;
  font-weight: 400;
  font-size: 20px;
  display: flex;
}
