.profile-page {
	display: flex;
	height: 100vh;
	width: 100vw;
	background: rgba(255, 255, 255, 0.15);
	box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
	backdrop-filter: blur(8.5px);
	color: #000;
	text-transform: uppercase;
	letter-spacing: 0.4rem;
	user-select: none;
}

.sidebar-wrapper {
	background-color: goldenrod !important;
}

.profile-wrapper {
	background-color: chartreuse !important;
	width: 100%;
}
